.hambuger-modal {
  position: absolute;
  background-color: #fff;
  z-index: 999;
  width: 400px;
  height: 800px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: scroll;
  border-radius: 10px;

  .hamburger-content-wrap {
    div {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      background-color: #fff;
      min-height: 200px;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
